# Ignore all "bin" directories at any depth
bin/
**/bin/
**/bin/**

# Ignore all "obj" directories at any depth
obj/
**/obj/
**/obj/**

# Ignore Python bytecode cache directories and compiled files
__pycache__/
**/__pycache__/
*.py[cod]
.fake

# Ignore Visual Studio Code settings directory
.vscode/
./exercism
